## video to img

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import cv2
import os
from sklearn.model_selection import train_test_split

In [5]:
# import cv2
# cap = cv2.VideoCapture('./datasets/coca_cola.mp4') #동영상 불러오기
# num = 0
# while(cap.isOpened()):
#     ret, frame = cap.read()
#     if not ret:
#         break
#     frame = cv2.flip(frame, -1)
#     if ret:
#         cv2.imshow('frame', frame)
#         #이미지의 각 이름을 자동으로 지정
#         path = './coca_cola_250_' + str(num) + '.jpg'
#         cv2.imwrite(path, frame) #영상 -> 이미지로 저장
#         key = cv2.waitKey(25)
#         if key == 27: # Esc
#             break
#     num += 1
# cap.release()
# cv2.destroyAllWindows()

In [3]:
# import cv2
# cap = cv2.VideoCapture('./datasets/IMG_4884.MOV') #동영상 불러오기
# num = 145
# while(cap.isOpened()):
#     ret, frame = cap.read()
#     if not ret:
#         break
#     #frame = cv2.flip(frame, -1)
#     if ret:
#         cv2.imshow('frame', frame)
#         #이미지의 각 이름을 자동으로 지정
#         path = './coca_cola_250_' + str(num) + '.jpg'
#         cv2.imwrite(path, frame) #영상 -> 이미지로 저장
#         key = cv2.waitKey(25)
#         if key == 27: # Esc
#             break
#     num += 1
# cap.release()
# cv2.destroyAllWindows()

In [4]:
# import cv2
# cap = cv2.VideoCapture('./datasets/IMG_4883.MOV') #동영상 불러오기
# num = 1
# while(cap.isOpened()):
#     ret, frame = cap.read()
#     if not ret:
#         break
#     #frame = cv2.flip(frame, -1)
#     if ret:
#         cv2.imshow('frame', frame)
#         #이미지의 각 이름을 자동으로 지정
#         path = './no_object_' + str(num) + '.jpg'
#         cv2.imwrite(path, frame) #영상 -> 이미지로 저장
#         key = cv2.waitKey(25)
#         if key == 27: # Esc
#             break
#     num += 1
# cap.release()
# cv2.destroyAllWindows()

In [6]:
# import cv2
# video = cv2.VideoCapture('./datasets/coca_cola.mp4')
# width = video.get(cv2.CAP_PROP_FRAME_WIDTH)
# height = video.get(cv2.CAP_PROP_FRAME_HEIGHT)
# count = video.get(cv2.CAP_PROP_FRAME_COUNT)
# fps = video.get(cv2.CAP_PROP_FPS)
# print('가로: ', str(width))
# print('세로: ', str(height))
# print('총 프레임수: ', str(count))
# print('FPS: ' + str(fps))

가로:  720.0
세로:  1280.0
총 프레임수:  797.0
FPS: 29.977432296890672

## rename images

In [137]:
# # 사진 이름 한번에 바꾸기(주의! 순서가 랜덤으로 들어온다)

# import os

# file_path = './datasets/Coke' # 바꿔야하는 이미지가 들어있는 파일
# file_names = os.listdir(file_path)

# num = 1
# for name in file_names:
#     src = os.path.join(file_path, name)
#     dst = 'coca_cola_250_' + str(num) + '.jpg' # 바꿀 이름
#     dst = os.path.join(file_path, dst)
#     os.rename(src, dst)
#     num += 1

## load img

In [76]:
path = '/Users/iseung-won/Downloads/' # folder path
os.chdir(path) # move to the folder
files = os.listdir(path) # 해당 폴더에 있는 파일 이름을 리스트 형태로 받음
no_object_imgs = []
for file in files:
    if '.jpg' in file: 
        src = cv2.imread(file)
        f = cv2.resize(src , (224, 224)) # resize img
        no_object_imgs .append(f)
np.array(no_object_imgs ).shape

(1689, 224, 224, 3)

In [86]:
img_list = ['coca_cola_250', 'coca_cola_350', 'pepsi_250', 'pepsi_355', 'pepsi_zero_355', 'pepsi_zero_500','pocari_240', 
            'pocari_620', 'coca_cola_zero_250', 'coca_cola_zero_355', 'chilsung250', 'chilsung355', 'sprite_250', 'sprite_355', ]

In [87]:
for i in range(len(img_list)):
    path = f'C:/Users/Project/datasets/{img_list[i]}' # folder path
    os.chdir(path) # move to the folder
    files = os.listdir(path) # 해당 폴더에 있는 파일 이름을 리스트 형태로 받음
    globals()[f'img_list[i]_imgs'] = []
    for file in files:
        if '.jpg' in file: 
            src = cv2.imread(file)
            f = cv2.resize(src , (224, 224)) # resize img
            globals()[f'img_list[i]_imgs'].append(f)
    print(img_list[i], np.array(globals()[f'img_list[i]_imgs']).shape)

coca_cola_250 (488, 224, 224, 3)
coca_cola_350 (701, 224, 224, 3)
pepsi_250 (1601, 224, 224, 3)
pepsi_355 (921, 224, 224, 3)
pepsi_zero_355 (1668, 224, 224, 3)
pepsi_zero_500 (486, 224, 224, 3)
pocari_240 (1500, 224, 224, 3)
pocari_620 (1507, 224, 224, 3)
coca_cola_zero_250 (552, 224, 224, 3)
coca_cola_zero_355 (769, 224, 224, 3)
chilsung250 (600, 224, 224, 3)
chilsung355 (600, 224, 224, 3)
sprite_250 (1055, 224, 224, 3)
sprite_355 (855, 224, 224, 3)

## XML to CSV

In [88]:
# XML to CSV
import os
import glob
import pandas as pd
import io
import xml.etree.ElementTree as ET
import argparse
def xml_to_csv(path):
  xml_list = []
  for xml_file in glob.glob(path + '/*.xml'):
      tree = ET.parse(xml_file)
      root = tree.getroot()
      filename = root.find('filename').text
      width = int(root.find('size').find('width').text)
      height = int(root.find('size').find('height').text)
      for member in root.findall('object'):
          bndbox = member.find('bndbox')
          value = (filename,
                    width,
                    height,
                    member.find('name').text,
                    int(bndbox.find('xmin').text),
                    int(bndbox.find('ymin').text),
                    int(bndbox.find('xmax').text),
                    int(bndbox.find('ymax').text),
                    )
          xml_list.append(value)
  column_name = ['filename', 'width', 'height',
                  'class', 'xmin', 'ymin', 'xmax', 'ymax']
  xml_df = pd.DataFrame(xml_list, columns=column_name)
  return xml_df

In [100]:
for i in range(len(img_list)):
    path = f'C:/Users/Project/datasets/{img_list[i]}' # folder path
    globals()[f'img_{list[i]}_info'] = xml_to_csv(path)
    print(img_list[i], globals()[f'img_{list[i]}_info'].shape)

coca_cola_250 (488, 8)
coca_cola_350 (701, 8)
pepsi_250 (1601, 8)
pepsi_355 (921, 8)
pepsi_zero_355 (1668, 8)
pepsi_zero_500 (486, 8)
pocari_240 (1500, 8)
pocari_620 (1507, 8)
coca_cola_zero_250 (552, 8)
coca_cola_zero_355 (769, 8)
chilsung250 (600, 8)
chilsung355 (600, 8)
sprite_250 (1055, 8)
sprite_355 (855, 8)

In [101]:
for i in range(len(img_list)):
    globals()[f'img_{list[i]}_info_df'] = globals()[f'img_{list[i]}_info'].copy()
    globals()[f'img_{list[i]}_info_df']['class'] = i+1

In [177]:
info_df = pd.concat([globals()[f'img_{list[i]}_info_df'][:486] for i in range(len(img_list))])
info_df

                  filename  width  height  class  xmin  ymin  xmax  ymax
0      coca_cola_250_1.jpg   3024    4032      1  1197  1278  2282  3678
1     coca_cola_250_10.jpg   3024    4032      1   632    83  2427  3628
2    coca_cola_250_100.jpg   3024    4032      1   507   348  2367  3683
3    coca_cola_250_101.jpg   3024    4032      1     7   718  1977  4008
4    coca_cola_250_102.jpg   3024    4032      1   152   893  2277  4032
..                     ...    ...     ...    ...   ...   ...   ...   ...
481      sprite355_533.jpg    720     960     14   117   251   460   814
482      sprite355_534.jpg    720     960     14   114   248   465   810
483      sprite355_535.jpg    720     960     14   110   250   468   821
484      sprite355_536.jpg    720     960     14   118   258   468   825
485      sprite355_537.jpg    720     960     14   118   261   464   820

[6804 rows x 8 columns]

In [178]:
info_df['xmin'] = round(info_df['xmin'] / (info_df['width']/224))
info_df['xmax'] = round(info_df['xmax'] / (info_df['width']/224))
info_df['ymin'] = round(info_df['ymin'] / (info_df['height']/224))
info_df['ymax'] = round(info_df['ymax'] / (info_df['height']/224))
info_df

                  filename  width  height  class  xmin  ymin   xmax   ymax
0      coca_cola_250_1.jpg   3024    4032      1  89.0  71.0  169.0  204.0
1     coca_cola_250_10.jpg   3024    4032      1  47.0   5.0  180.0  202.0
2    coca_cola_250_100.jpg   3024    4032      1  38.0  19.0  175.0  205.0
3    coca_cola_250_101.jpg   3024    4032      1   1.0  40.0  146.0  223.0
4    coca_cola_250_102.jpg   3024    4032      1  11.0  50.0  169.0  224.0
..                     ...    ...     ...    ...   ...   ...    ...    ...
481      sprite355_533.jpg    720     960     14  36.0  59.0  143.0  190.0
482      sprite355_534.jpg    720     960     14  35.0  58.0  145.0  189.0
483      sprite355_535.jpg    720     960     14  34.0  58.0  146.0  192.0
484      sprite355_536.jpg    720     960     14  37.0  60.0  146.0  192.0
485      sprite355_537.jpg    720     960     14  37.0  61.0  144.0  191.0

[6804 rows x 8 columns]

In [179]:
info_df['class'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14],
      dtype=int64)

In [246]:
info_df

info_df['rec_width'] = info_df['xmax'] - info_df['xmin']
info_df['rec_height'] = info_df['ymax'] - info_df['ymin']
info_df['x'] = round((info_df.xmin + info_df.xmax)/2)  #바인딩 박스 중심 x점
info_df['y'] = round((info_df.ymin + info_df.ymax)/2)  #바인딩 박스 중심 y점
info_df['object'] = 1  #객체 유무(0:없음, 1:있음)
info_df

,filename,width,height,class,xmin,ymin,xmax,ymax,rec_width,rec_height,x,y,object
0,coca_cola_250_1.jpg,3024,4032,1,89.0,71.0,169.0,204.0,80.0,133.0,129.0,138.0,1
1,coca_cola_250_10.jpg,3024,4032,1,47.0,5.0,180.0,202.0,133.0,197.0,114.0,104.0,1
2,coca_cola_250_100.jpg,3024,4032,1,38.0,19.0,175.0,205.0,137.0,186.0,106.0,112.0,1
3,coca_cola_250_101.jpg,3024,4032,1,1.0,40.0,146.0,223.0,145.0,183.0,74.0,132.0,1
4,coca_cola_250_102.jpg,3024,4032,1,11.0,50.0,169.0,224.0,158.0,174.0,90.0,137.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6799,sprite355_533.jpg,720,960,14,36.0,59.0,143.0,190.0,107.0,131.0,90.0,124.0,1
6800,sprite355_534.jpg,720,960,14,35.0,58.0,145.0,189.0,110.0,131.0,90.0,124.0,1
6801,sprite355_535.jpg,720,960,14,34.0,58.0,146.0,192.0,112.0,134.0,90.0,125.0,1
6802,sprite355_536.jpg,720,960,14,37.0,60.0,146.0,192.0,109.0,132.0,92.0,126.0,1
6803,sprite355_537.jpg,720,960,14,37.0,61.0,144.0,191.0,107.0,130.0,90.0,126.0,1

In [247]:
object_info_df = pd.DataFrame(np.zeros((len(no_object_imgs), 13)))
object_info_df.columns = ['filename','width', 'height', 'class','xmin', 'ymin', 'xmax', 'ymax', 
                          'rec_width', 'rec_height', 'x', 'y', 'object']
object_info_df

,filename,width,height,class,xmin,ymin,xmax,ymax,rec_width,rec_height,x,y,object
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1685,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1687,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1688,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [248]:
X = []
for i in range(len(img_list)):
    X += globals()[f'img_list[i]_imgs'][:486]
np.array(X).shape

(6804, 224, 224, 3)

In [249]:
total_X = X + no_object_imgs
total_X  = np.array(total_X)
total_X.shape

(8493, 224, 224, 3)

In [250]:
total_info_df.index = [(i+1) for i in range(total_info_df.shape[0])]
total_info_df

,filename,width,height,class,xmin,ymin,xmax,ymax,rec_width,rec_height,x,y,object
1,coca_cola_250_1.jpg,3024.0,4032.0,1.0,89.0,71.0,169.0,204.0,80.0,133.0,129.0,138.0,1.0
2,coca_cola_250_10.jpg,3024.0,4032.0,1.0,47.0,5.0,180.0,202.0,133.0,197.0,114.0,104.0,1.0
3,coca_cola_250_100.jpg,3024.0,4032.0,1.0,38.0,19.0,175.0,205.0,137.0,186.0,106.0,112.0,1.0
4,coca_cola_250_101.jpg,3024.0,4032.0,1.0,1.0,40.0,146.0,223.0,145.0,183.0,74.0,132.0,1.0
5,coca_cola_250_102.jpg,3024.0,4032.0,1.0,11.0,50.0,169.0,224.0,158.0,174.0,90.0,137.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8490,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8491,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8492,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8493,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [251]:
Y = total_info_df[['class', 'rec_width', 'rec_height', 'x', 'y', 'object']]
Y

      class  rec_width  rec_height      x      y  object
1       1.0       80.0       133.0  129.0  138.0     1.0
2       1.0      133.0       197.0  114.0  104.0     1.0
3       1.0      137.0       186.0  106.0  112.0     1.0
4       1.0      145.0       183.0   74.0  132.0     1.0
5       1.0      158.0       174.0   90.0  137.0     1.0
...     ...        ...         ...    ...    ...     ...
8489    0.0        0.0         0.0    0.0    0.0     0.0
8490    0.0        0.0         0.0    0.0    0.0     0.0
8491    0.0        0.0         0.0    0.0    0.0     0.0
8492    0.0        0.0         0.0    0.0    0.0     0.0
8493    0.0        0.0         0.0    0.0    0.0     0.0

[8493 rows x 6 columns]

In [252]:
x_train, x_test, y_train, y_test = train_test_split(total_X, Y,
                                                    test_size=0.2, shuffle=True, stratify=Y['class'], random_state=34)

In [253]:
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(6794, 224, 224, 3) (1699, 224, 224, 3) (6794, 6) (1699, 6)

In [254]:
y_train

      class  rec_width  rec_height      x      y  object
4647   10.0      111.0       103.0  102.0   96.0     1.0
5908   13.0       83.0       148.0   74.0   93.0     1.0
5662   12.0      112.0       107.0  138.0  134.0     1.0
4976   11.0      122.0        94.0   96.0  139.0     1.0
1355    3.0      146.0       143.0  108.0  104.0     1.0
...     ...        ...         ...    ...    ...     ...
5378   12.0      133.0       113.0   94.0  108.0     1.0
7128    0.0        0.0         0.0    0.0    0.0     0.0
4570   10.0      106.0       101.0   98.0   96.0     1.0
1303    3.0      120.0       148.0   75.0  110.0     1.0
3731    8.0       96.0       131.0  106.0  122.0     1.0

[6794 rows x 6 columns]

In [255]:
y1_train = y_train[['rec_width', 'rec_height', 'x', 'y']]
y2_train = y_train[['class']]
y3_train = y_train[['object']]

In [256]:
print(y1_train.shape, y2_train.shape, y3_train.shape)

(6794, 4) (6794, 1) (6794, 1)